apiVersion: v1
kind: Service
metadata:
  name: hw-service
spec:
  selector:
    app: hw
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort  # Cambiado a NodePort para Minikube
